<script>
  import LeftSidebar from './LeftSidebar.svelte';
  import RightSidebar from './RightSidebar.svelte';
  import MainDisplay from './MainDisplay.svelte';
  import Controls from './Controls.svelte';
</script>

<div class="container-fluid main-container">
  <div class="row main-row">
    <LeftSidebar />
    <div class="col-8 h-100 p-0">
      <MainDisplay />
      <Controls />
    </div>
    <RightSidebar />
  </div>
</div>

<style>
  .main-container {
    margin-top: 5rem;
    height: 100vh;
  }

  .main-row {
    height: calc(100vh - 10rem);
  }
</style>