<!-- Controls.svelte -->
<script>

  import { videoElement } from './videoStore';
  
  let currentTime = 0;
  let currentVideoElement;
  let isPlaying = false;

  // Subscribe to the videoo element store
  videoElement.subscribe( value => {
    currentVideoElement = value;
  });

  function togglePlayPause() {
    if (currentVideoElement) {
      if (isPlaying) {
        currentVideoElement.pause();
      } else {
        currentVideoElement.play();
      }
      isPlaying = !isPlaying;
    }
  }

  function goToStart() {
    if (currentVideoElement) {
      currentVideoElement.currentTime = 0;
    }
  }

  function goToEnd() {
    if (currentVideoElement) {
      currentVideoElement.currentTime = currentVideoElement.duration;
    }
  }

  function goBackward() {
    if (currentVideoElement) {
      currentVideoElement.currentTime -= 5;
    }
  }

  function goForward() {
    if (currentVideoElement) {
      currentVideoElement.currentTime += 5;
    }
  }

  function updatePlaybackPosition(event) {
    if (currentVideoElement) {
      currentVideoElement.currentTime = event.target.value;
      console.log("hello");
    }
  }

  // function stopVideo() {
  //   if (currentVideoElement) {
  //     currentVideoElement.currentTime = 0;
  //     currentVideoElement.pause();
  //   }
  // }
</script>

<div class="container-fluid h-25" style="padding-top: 20px;">
  <!-- Video and visualization recording/playback controls -->
  
  <div class="d-grid gap-2 col-6 mx-auto"> 
    <div class="btn-group btn-group-lg" role="group" aria-label="Playback Controls">
      <button class="control-button btn btn-primary" on:click={goToStart}><i class="fas fa-fw fa-fast-backward"></i></button>
      <button class="control-button btn btn-primary" on:click={goBackward}><i class="fas fa-fw fa-backward"></i></button>
      <button class="control-button btn btn-primary" on:click={togglePlayPause}>
        {#if isPlaying}
          <i class="fas fa-fw fa-pause"></i>
        {:else}
          <i class="fas fa-fw fa-play"></i>
        {/if}
      </button>
      <button class="control-button btn btn-primary" on:click={goForward}><i class="fas fa-fw fa-forward"></i></button>
      <button class="control-button btn btn-primary" on:click={goToEnd}><i class="fas fa-fast-forward"></i></button>
    </div>
    {#if currentVideoElement}
      <input type="range" class="form-range" min="0" max={currentVideoElement.duration} step="0.1" bind:value={currentVideoElement.currentTime}>
    {:else}
      <input type="range" class="form-range" min="0" max="0" step="0.1" value="0" disabled>
    {/if}
  </div>


</div>

<style>
  .container-fluid {
    background-color: darkgray;
  }

  .control-button {
    /* background: none; */
    /* border: none; */
    /* cursor: pointer; */
    /* font-size: 24px; */
    /* color: white; */
  }
</style>
