<!-- Footer.svelte -->
<script>
  // Add any script logic here
</script>

<footer class="fixed-bottom bg-body-secondary py-3 lh-base text-center">
  <p>This website is licensed under the <a href="https://opensource.org/licenses/MIT">MIT License</a>.<br/>Copyright &copy; Université Paris-Saclay 2023.<br/></p>
</footer>

<style>
  footer {
    /* background-color: #33333333; */
    /* color: #fff; */
    /* text-align: center; */
    /* padding: 20px 0; */
    /* position: fixed; */
    /* bottom: 0; */
    /* width: 100%; */
    height: 5rem;
  }

  p {
    margin: 0;
    font-size: 0.8rem;
  }
</style>