<!-- Header.svelte -->
<script>
  // Add any script logic here
</script>

<header class="fixed-top">
  <nav class="navbar navbar-expand-lg bg-body-secondary">
    <div class="container-fluid">
      <a class="navbar-brand h1" href="/">video_X_pose v2</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="top-nav">
        <div class="navbar-nav mb-1 ms-auto">
          <a class="nav-link" href="/about">About</a>
          <a class="nav-link" href="/help">Help</a>
        </div>
      </div> 
    </div>
  </nav>
</header>

<style>
  header, nav {
    height: 5rem;
  }

</style>