<!-- LeftSidebar.svelte -->
<script>
  // Add any script logic here
</script>

<div class="container col-2 h-100">
  <!-- Main app controls -->
  <h2>Hi! I'm a sidebar.</h2>
  <button>Push me.</button>
</div>

<style>
  .container {
    background-color: gray;
  }
</style>
