<!-- MainDisplay.svelte -->
<script>
  import { selectedVideo, videoElement } from './videoStore';

  let currentVideoUrl = '';
  let currentVideoElement = null;

  // Subscribe to the selected video store
  selectedVideo.subscribe(value => {
    if (value) {
      // Clear the old video URL
      currentVideoUrl = '';
      
      // Set the new video URL
      currentVideoUrl = URL.createObjectURL(value);
      // console.log("new video:", currentVideoUrl);
      console.log("store value:", value);

      // Update the video element
      updateVideoElement();
    } else {
      // No video selected, clear the video URL and element
      currentVideoUrl = '';
      currentVideoElement = null;
    }
  });

  // Function to update the video element
  function updateVideoElement() {
    // Clear the old video element
    if (currentVideoElement) {
      currentVideoElement.pause();
      currentVideoElement.removeAttribute('src');
      currentVideoElement.load();
    }

    // Create a new video element
    currentVideoElement = document.createElement('video');
    currentVideoElement.controls = false;
    currentVideoElement.src = currentVideoUrl; // Set the source directly
    currentVideoElement.style.position = 'absolute';
    currentVideoElement.style.top = '0';
    currentVideoElement.style.left = '0';
    currentVideoElement.style.width = '100%';
    currentVideoElement.style.height = '100%';
    currentVideoElement.style.objectFit = 'contain';
    // Add event listener for time update
    // currentVideoElement.addEventListener('timeupdate', updateTime);

    // Append the new video element to the container div
    const container = document.querySelector('.video-container');
    if (container) {
      container.innerHTML = ''; // Clear the container
      container.appendChild(currentVideoElement);
    }

    videoElement.set(currentVideoElement); // Set the video element in the store

  }
</script>

<div class="container-fluid h-75">
  <!-- Main display area for video output and visualizations -->
  <div class="video-container"></div>
</div>

<style>
  .container-fluid {
    background-color: #111111;
    height: 100%;
    padding: 0;
    position: relative;
  }
</style>
