<script>
  // this store contains the currently selected video
  import { selectedVideo } from './videoStore'; 
  
  // list of videos uploaded in the browser
  let videoList = [];
  
  // Upload button functionality
  function handleUploadClick() {
    const input = document.createElement('input');
    input.type = 'file';
    input.accept = 'video/*';
    input.addEventListener('change', handleVideoUpload);
    input.click();
  }
  
  // adds selected video to list and displays it
  function handleVideoUpload(event) {
    const video = event.target.files[0];
    if (video) {
      videoList = [...videoList, video];
      selectedVideo.set(video); // Update the selected video store
    }
    console.log(videoList);
  }
  
  
  function loadVideo(video) {
    selectedVideo.set(video); // Update the selected video store
  }
  
  function deleteVideo(index) {
    videoList = videoList.filter((_, i) => i !== index);
  }
  
  function tbdVideo(video) {
    const newFileName = prompt('Enter a new file name:', video.name);
    if (newFileName) {
      const link = document.createElement('a');
      link.href = URL.createObjectURL(video);
      link.download = newFileName;
      link.click();
    }
  }
  
  // Function to truncate filename and add ellipses
  function truncateFileName(fileName) {
    const maxLength = 20; // Max length of truncated filename
    const extensionIndex = fileName.lastIndexOf('.');
    const nameWithoutExtension = fileName.substring(0, extensionIndex);
    if (fileName.length > maxLength) {
      const middleIndex = Math.floor(maxLength / 2);
      return nameWithoutExtension.substring(0, middleIndex - 2) + '...' + nameWithoutExtension.substring(nameWithoutExtension.length - middleIndex + 1);
    }
    return nameWithoutExtension;
  }
  
</script>

<div class="container col-2 h-100">
  <h2>File Manager</h2>
  <div class="d-grid gap-2">
    <button class="btn btn-primary" type="button" on:click={handleUploadClick}>Upload video file</button>
  </div>
  {#each videoList as video, index}
  <div class="btn-group-vertical video-button-group">
    <button class="btn btn-light btn-sm" on:click={() => loadVideo(video)}  data-bs-toggle="tooltip" data-bs-placement="top" title={video.name}>{truncateFileName(video.name)}</button>
    <div class="btn-group" role="group">
      <button class="btn btn-warning btn-sm" on:click={() => tbdVideo(video)}>...</button>
      <button class="btn btn-danger btn-sm" on:click={() => deleteVideo(index)}>Delete</button>
    </div>
  </div>
  {/each}
</div>

<style>
  .container {
    background-color: gray;
  }
  
  .video-button-group {
    margin-top: 0.5rem;
    width: 100%
  }

  .btn-sm {
    --bs-btn-padding-y: 0rem;
  }
</style>
